@model stepsmodelcs

<form method="post" asp-action="StepsToCalories">

    <h1>  Enter your number stups</h1>
    <input type="number" placeholder=" number" asp-for=Numbersteps />

    <input type="submit" value="enter" />
</form>